
h1{
    margin-top: 35px;
    margin-left: 15px;
}

main{
    display: flex;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.logo{
    width: 130px;
    height: 130px;
    margin-left: 10px;
}

.lm1{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.lm2{
    width: 600px;
    height: 550px;
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-right: 30px;
}

footer{
    margin-bottom: 50px;
    margin-left: 40px;
}
