
header{
    display: flex;
}

.page{
    margin-top: 30px;
}

main{
    display: flex;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.logop{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

nav{
    display: flex;
}

footer{
    margin-bottom: 70px;
    margin-left: 40px;
    margin-top: 70px;
    margin-left: 40px;
}

.hom1{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.hom2{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.muj1{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.muj2{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.run1{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.run2{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.nin1{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.nin2{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.uni1{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.uni2{
    width: 600px;
    height: 600px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
}

p{
    border: 2px solid #000;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background: rgb(148, 222, 223);
}